# {{ ansible_managed }}
{% if caddy_dashboard_name | length > 0 %}

{{ caddy_dashboard_name }} {
	tls internal
	root * {{ caddy_dashboard_root }}
	file_server
}
{% endif %}
{% for site in caddy_sites %}

{{ site.name }} {
	tls internal
{% if site.upstream_tls_insecure | default(false) | bool %}
	reverse_proxy {{ site.upstream }} {
		transport http {
			tls_insecure_skip_verify
		}
	}
{% else %}
	reverse_proxy {{ site.upstream }}
{% endif %}
}
{% endfor %}
